* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fcfcfa;
    color: #333;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgb(239, 236, 233);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #2c3e50;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
    color: #34495e;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 12px 20px;
    font-size: 18px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1f6391;
}

h3 {
    text-align: center;
    color: #2ecc71;
    margin-top: 20px;
    font-size: 24px;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.semester-container {
    margin-bottom: 30px;
}

.button-group {
    text-align: center;
    margin-top: 20px;
}

h3#result {
    font-weight: bold;
}